.App {
  max-width: 50%;
  margin-left: 330px;
  margin-right: 330px;
}

.posts {
  border: 1px solid lightgray;
  background-color: #b3ffe6;
}

.post {
  margin-left: 10px;
}

.post__button > button {
  justify-content: space-around;
  background-color: #a3c2c2;
  color: white;
  border: 1px solid #898989;
  border-radius: 20px;
  margin-right: 200px;
}
