.header {
  display: flex;
  justify-content: space-between;
  background-color: #d6d6c2;
  color: white;
}

.header__title {
  margin-left: 30px;
}

.header__subclass {
  text-decoration: none;
  display: flex;
  flex: 0.4;
  align-items: center;
  justify-content: space-around;
  margin-right: 30px;
}

.header__subclass > a {
  font-size: 22px;
}
